.destinations {
  width: 312px;
  margin: 0 auto;
}

.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}


.destination-items .item .img-item {
  width: 100%;
  height: 368px;
}

.destinations .section-title {
  width: 280px;
  margin: 0 auto;
}


.destinations .item header h4 {
  font-size: 28px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin-bottom: 24px;
}

.destination-items p {
    display: inline-block;
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px;  
    margin-bottom: 24px;
}
.destinations .button {
  width: 100%;
  text-align: center;
}


.destinations .item.tokio .img-item {
  background-image: url("../img/tokyo-mobile.jpg");
  background-size: cover;
  /* width: 312px;
    height: 360px; */
  /* margin-top: 40px; */
  /* background-position: center; Centraliza */
}

.destinations .item.osaka .img-item {
  background-image: url("../img/osaka-mobile.jpg");
  background-size: cover;
  /* width: 312px;
    height: 360px;  */
  /* margin-top: 40px; */
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
    /* margin: 0 60px; */
  } 


  .destinations .item .img-item{
    width: 100%;
    height: 452px;
  }

  .img-item-tokio {
    background-image: url("../img/tokyo-tablet-desk.jpg");
    background-size: cover;
    /* width: 648px; 
    height: 452px; */
  }

  .img-item-osaka {
    background-image: url("../img/osaka-tablet-desk.jpg");
    background-size: cover;
    /* width: 648px; 
    height: 452px; */
  }
  .destinations .button {
    width: 280px;    
   }
}

@media screen and (min-width: 1024px) {
      .destinations {
    width: 900px;    
  }

      /* .destination-items .img-item {
  width: 100%;
  height: 452px;
} */


  .img-item-tokio {
    background-image: url("../img/tokyo-tablet-desk.jpg");
    background-size: cover;
    /* width: 648px; 
    height: 452px; */
  }
  .destinations .item {
    width: 452px;
    
  }

  .img-item-osaka {
    background-image: url("../img/osaka-tablet-desk.jpg");
    background-size: cover;
    /* width: 648px; 
    height: 452px; */
  }

.destination-items{        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;       
        align-items: center;        
    }       


  
}

@media screen and (min-width: 1440px) {
      .destinations {
    width: 1200px;    
  }

  .destinations .item {
    width: 580px;
    
  }

  .destination-items{
    flex-direction: row;
  }  

}
